#!/bin/sh
# Copyright 2024 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPLv3

set -e

case "$1" in
    build)
    ;;

    package)
        mkdir -p ${pkgdir}/usr/share/wazo-confgend-performance-patch
        cp wazo-confgend.patch ${pkgdir}/usr/share/wazo-confgend-performance-patch
    ;;

    install)
        patch -p1 -d /usr/lib/python3/dist-packages < /usr/share/wazo-confgend-performance-patch/wazo-confgend.patch
        systemctl restart wazo-confgend
    ;;

    uninstall)
        patch --force --reject-file - -R -p1 -d /usr/lib/python3/dist-packages < /usr/share/wazo-confgend-performance-patch/wazo-confgend.patch || true
        systemctl restart wazo-confgend
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
